name: Create tags for prod deploys

on:
  schedule:
    # Daily
    # https://crontab.guru/#0_12_*_*_*
    - cron: "0 12 * * *"
  # Whenever someone asks
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0 # We need the full history to check for preexisting tags
          token: ${{ secrets.BOT_GITHUB_TOKEN }}
          persist-credentials: true
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: "22.x"
          registry-url: "https://registry.npmjs.org"

        # Setup Git
      - run: git config user.name "typescript-bot"
      - run: git config user.email "bot@typescriptlang.org"

      - name: "Create new tags"
        run: |
          npm ci
          node make-git-tags-for-new-builds.js
          git push origin --tags
