name: Build a version of TypeScript on request
on:
  repository_dispatch:

# This workflow is triggered from an API call where XXX is your token
# and YYY is the PR that it should look at.

# curl https://api.github.com/repos/microsoft/typescript-make-monaco-builds/dispatches \
#   -XPOST \
#   -H 'Content-Type: application/json' \
#   -H 'Accept: application/vnd.github.everest-preview+json' \
#   -H "Authorization: token XXX" \
#   --data-binary '{ "event_type": "YYY" }'

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on:
      - "self-hosted"
      - "1ES.Pool=TypeScript-1ES-GitHub-Deploys"
      - "1ES.ImageOverride=azure-linux-3"
    environment: blob-storage
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: "24.x"
          registry-url: "https://registry.npmjs.org"

      # Lets us use one-liner JSON manipulations on package.jsons
      - run: "npm install -g json"


      - name: Publish PR Build
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BOT_GITHUB_TOKEN: ${{ secrets.BOT_GITHUB_TOKEN }}

        run: |
          npm ci

          PULL_REQUEST_NUMBER=$(json -f $GITHUB_EVENT_PATH action)
          echo "Publishing Monaco based on $PULL_REQUEST_NUMBER"

          ZIP_FILE=$(node pulls/echo-typescript-url.ts $PULL_REQUEST_NUMBER)
          echo "Using zip file from:"
          echo $ZIP_FILE

          SEMVER_NUMBER=$(node pulls/echo-release-version.ts $PULL_REQUEST_NUMBER)

          echo "Re-publishing TypeScript tarball to npm"
          node ./pulls/republish-typescript-tarball.ts $ZIP_FILE $SEMVER_NUMBER

          echo "Building TS Monaco $SEMVER_NUMBER"

          echo "Building Monaco Editor with the new TS Monaco"
          node ./publish-monaco-editor.ts $SEMVER_NUMBER @typescript-deploys/pr-build

          echo ""
          echo ""
          echo ""
          echo "https://www.typescriptlang.org/play/?ts=$SEMVER_NUMBER"
          echo ""
          echo ""
          echo ""
          echo "Commenting back on the PR"
          node pulls/comment-on-release.ts $PULL_REQUEST_NUMBER $SEMVER_NUMBER

      - name: 'Az CLI login'
        uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5 # v2.3.0
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}


      - name: Upload to Azure
        env:
          AZURE_STORAGE_ACCOUNT: ${{ secrets.AZURE_STORAGE_ACCOUNT }}
        run: node ./upload-assets-to-blob-storage.ts
